<span class="p-float-label">
  <p-inputOtp
    [attr.id]="id"
    pInputText
    [length]="length"
    [(ngModel)]="inputValue"
    [integerOnly]="true"
    class="flex flex-col sm:flex-row"
    (onFocus)="onTouched && onTouched()"
    (input)="onChanged && onChanged(inputValue)"
    [ngClass]="{
      'ng-invalid ng-dirty ': controls && controls.errors && (controls.touched || controls.dirty)
    }"
  />
</span>
<small *ngIf="controls && controls.errors && (controls.touched || controls.dirty)" class="p-error"
  >{{ label }} não pode ser vazio.
</small>
