@use "colors" as *;

mat-form-field, a {
    width: 100%;
}

button {
    width: 80%;
    font-size: 1rem;
    box-shadow: none;
}

.primary {
    background-color: $primary;
    color: white;

    &:disabled {
        background-color: $disabled;
    }
}

.secondary {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
}
