<div class="image">
    <img src="./../../../assets/img/sus.png" />
    <h1>Um sistema simplificado</h1>
</div>

<div class="container">
    <div class="sub-container">
        <span class="title">Resetar Senhar</span>
        <form [formGroup]="form" class="form-container">
            @for (item of formReset$; track $index ) {
            <mat-form-field [appearance]="item.appearance">
                <mat-label>{{ item.label }}</mat-label>
                <input
                    matInput
                    [type]="item.type === 'password' && visibility ? 'text' : item.type || ''"
                    [formControlName]="item.formControlName"
                    [placeholder]="item.placeholder"
                    [required]="item.required"
                />
                @if (item.icon) {
                <mat-icon matSuffix (click)="visibility = !visibility">{{
                    visibility ? "visibility" : "visibility_off"
                }}</mat-icon>
                } @if (form.get(item.formControlName)?.invalid) {
                <mat-error>{{ item.errorMessage }}</mat-error>
                }
            </mat-form-field>
            }
        </form>
        <div class="actions">
            <button class="primary" [disabled]="form.invalid" mat-fab extended>Resetar</button>
            <button (click)="redirectToLogin()" class="secondary" mat-fab extended>Voltar</button>
        </div>
    </div>
</div>
