<div class="image">
    <img src="./../../../assets/img/sus.png" />
    <h1>Um sistema simplificado</h1>
</div>
<form [formGroup]="form">
    <div class="form">
        <div class="container-form">
            <div class="container-form-title">Resetar Senhar</div>
            <div class="container-form-input">
                @for (item of formReset$; track $index ) {
                <mat-form-field [appearance]="item.appearance">
                    <mat-label>{{ item.label }}</mat-label>
                    <input
                        matInput
                        [type]="
                            item.type === 'password' && visibility
                                ? 'text'
                                : item.type || ''
                        "
                        [formControlName]="item.formControlName"
                        [placeholder]="item.placeholder"
                        [required]="item.required"
                    />
                    @if (item.icon) {
                    <mat-icon matSuffix (click)="visibility = !visibility">{{
                        visibility ? "visibility" : "visibility_off"
                    }}</mat-icon>
                    } @if (form.get(item.formControlName)?.invalid) {
                    <mat-error>{{ item.errorMessage }}</mat-error>
                    }
                </mat-form-field>
                }
                <div class="actions">
                    <button
                        class="reset"
                        mat-fab
                        [disabled]="form.invalid"
                        extended
                        (click)="resetPassword()"
                    >
                        Resetar
                    </button>
                    <button
                        class="back"
                        mat-fab
                        extended
                        (click)="redirectToLogin()"
                    >
                        Voltar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
