<div class="flex flex-col gap-[2rem] justify-center">
  <div class="flex gap-[2rem] justify-center">
    <app-single-select
      class="w-[30%]"
      *ngIf="doctors$ | async as doctors"
      [formControl]="doctorId"
      label="Médico"
      [options]="doctors"
    />
    <app-calendar
      *ngIf="doctorId.value"
      class="w-[30%]"
      id="date"
      formControlName="date"
      label="Dia da consulta"
      (onSelect)="hourOptions = []; avaliableTimes()"
    />
  </div>
  <div *ngIf="pacient$ | async as pacients" class="flex gap-[2rem] justify-center">
    <app-single-select
      *ngIf="hourOptions.length != 0"
      [ngClass]="isAdmin ? 'w-[30%]' : 'w-[40%]'"
      id="hour"
      formControlName="hour"
      label="Horário"
      [options]="hourOptions"
    />
    <app-single-select
      *ngIf="isAdmin && hourOptions.length != 0"
      class="w-[30%]"
      label="Paciente"
      [options]="pacients"
      [formControl]="pacientId"
    />
  </div>
</div>
