<div class="flex flex-col justify-between h-full rounded-3xl w-full bg-white/80 p-[1rem]">
  <div class="flex w-full justify-center">
    <h1 class="text-primary text-[1.75rem] sm:text-[2rem]">Médicos</h1>
  </div>
  <div class="flex flex-col h-[85%] gap-[5rem]">
    <div class="flex justify-center">
      <div class="flex w-full items-center justify-evenly">
        <form class="w-8/12" [formGroup]="form">
          <app-inputs case="text" [form]="form" formControlName="filter" placeholder="Filtrar" [required]="false" />
        </form>
        <app-buttons case="primary" label="Novo Médico" type="button" [rounded]="true" [routerLink]="['new']" />
      </div>
    </div>
    <div class="custom-table flex-shrink-0">
      <p-table
        [value]="doctors()"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [responsive]="true"
        [scrollable]="true"
        scrollHeight="350px"
        currentPageReportTemplate="Mostrando {first} de {last} no total {totalRecords} médicos"
        [rowsPerPageOptions]="[5, 15, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 25%">Nome</th>
            <th style="width: 25%">CRM</th>
            <th style="width: 25%">Email</th>
            <th style="width: 25%">Telefone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doctors>
          <tr>
            <td>{{ doctors.name }}</td>
            <td>{{ doctors.crm }}</td>
            <td>{{ doctors.email }}</td>
            <td>{{ doctors.telephone }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4"><div class="flex w-full justify-center">Nenhum médico cadastrado.</div></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
