<div class="flex flex-col min-h-full rounded-3xl w-full bg-white/80 p-[1rem] gap-[3rem]">
  <div class="flex w-full justify-center">
    <h1 class="text-primary text-[1.75rem] sm:text-[2rem]">Médicos</h1>
  </div>
  <div class="flex flex-col h-[85%] gap-[5rem]">
    <div class="flex justify-center">
      <div class="flex flex-col gap-[1rem] md:flex-row w-full items-center justify-evenly">
        <app-input-text class="w-full md:w-8/12 xl:8/12" id="filter" label="Filtrar" [formControl]="filter" />
        <app-buttons
          class="w-full md:w-4/12 xl:w-2/12"
          *ngIf="isAdmin"
          [primary]="true"
          label="Novo Médico"
          type="button"
          [rounded]="true"
          [routerLink]="['new']"
        />
      </div>
    </div>
    <div class="custom-table" *ngIf="doctors$ | async as doctors">
      <p-table
        [value]="doctors.content"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        (onLazyLoad)="lazyLoad($event)"
        currentPageReportTemplate="Mostrando {first} de {last} no total {totalRecords} médicos"
        [totalRecords]="doctors.totalElements"
        [tableStyle]="{ 'min-width': '50rem', width: '100%' }"
        [rowsPerPageOptions]="[5, 15, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="isAdmin" style="width: 5%"></th>
            <th [ngStyle]="isAdmin ? { width: '25%' } : { width: '50%' }">Nome</th>
            <th [ngStyle]="isAdmin ? { width: '10%' } : { width: '20%' }">CRM</th>
            <th [ngStyle]="isAdmin ? { width: '20%' } : { width: '20%' }">Especialidade</th>
            <th *ngIf="isAdmin" style="width: 25%">Email</th>
            <th *ngIf="isAdmin" style="width: 15%">Telefone</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doctors>
          <tr>
            <td *ngIf="isAdmin">
              <i
                class="flex icon ph-bold ph-list text-primary_three cursor-pointer"
                (click)="doctorId = doctors.id; menu.toggle($event)"
              ></i>
              <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>
            </td>
            <td>{{ doctors.firstName + " " + doctors.lastName }}</td>
            <td>{{ doctors.crm }}</td>
            <td>{{ doctors.speciality | speciality }}</td>
            <td *ngIf="isAdmin">{{ doctors.email }}</td>
            <td *ngIf="isAdmin">{{ doctors.telephone | telephone }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5"><div class="flex w-full justify-center">Nenhum médico cadastrado.</div></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
