<span class="p-float-label">
  <p-password
    [attr.id]="id"
    pInputText
    [toggleMask]="true"
    [disabled]="isDisabled"
    [feedback]="false"
    [placeholder]="label"
    [(ngModel)]="inputValue"
    (onFocus)="onTouched && onTouched()"
    (input)="onChanged && onChanged(inputValue)"
    [ngClass]="{
      'ng-invalid ng-dirty ': controls && controls.errors && (controls.touched || controls.dirty)
    }"
  />
  <label [attr.for]="id" class="font-medium text-gray_one">{{ label }}</label>
</span>
<small *ngIf="controls && controls.errors && (controls.touched || controls.dirty)" class="p-error"
  >{{ label }} não pode ser vazio.
</small>
