<span class="p-float-label">
  <p-password
    [attr.id]="id"
    pInputText
    [toggleMask]="true"
    [required]="required"
    [placeholder]="label"
    [(ngModel)]="value"
    [ngClass]="{
      'ng-invalid ng-dirty ': controls.get(id)?.errors && (controls.get(id)?.touched || controls.get(id)?.dirty)
    }"
  />
  <label [attr.for]="id" class="font-medium text-gray_one">{{ label }}</label>
</span>
<div class="flex flex-col gap-[.5rem]">
  <small
    *ngIf="controls.get(id)?.errors && (controls.get(id)?.touched || controls.get(id)?.dirty)"
    class="p-error absolute"
    >{{ label }} não pode ser vazio.
  </small>
</div>
