<form [formGroup]="form">
  <span class="p-float-label">
    <p-password
      id="{{ formControlName }}"
      pInputText
      ngDefaultControl
      [required]="required"
      [toggleMask]="true"
      [feedback]="false"
      [formControlName]="formControlName"
      [ngClass]="{
        'ng-invalid ng-dirty ':
          form.get(formControlName)?.errors && (form.get(formControlName)?.touched || form.get(formControlName)?.dirty)
      }"
    />
    <label for="{{ formControlName }}" class="font-medium text-gray_one">{{ placeholder }}</label>
  </span>
  <div class="flex flex-col gap-[.5rem]">
    <small
      *ngIf="
        form.get(formControlName)?.errors && (form.get(formControlName)?.touched || form.get(formControlName)?.dirty)
      "
      class="p-error absolute"
      >{{ placeholder }} não pode ser vazio.</small
    >
    <small class="p-error absolute mt-5" *ngIf="this.form.errors?.['PasswordNoMatch']"> Senhas não são iguais </small>
  </div>
</form>
