<form [formGroup]="form" (ngSubmit)="login()">
    <div class="grid grid-cols-1 md:grid-cols-2 w-screen h-screen">
        <div
            class="bg-secondary hidden md:flex flex-col justify-center items-center"
        >
            <img
                class="lg:h-2/5 w-9/12 md:h-1/5 mb-10"
                src="./../../../assets/img/sus.png"
            />
            <h1 class="lg:text-5xl md:text-4xl text-white">Um sistema simplificado</h1>
        </div>
        <div class="grid place-items-center">
            <div
                class="h-5/6 w-8/12 flex flex-col p-5 justify-between items-center border-primary border border-solid"
            >
                <div class="text-7xl text-primary">Login</div>
                <div
                    class="h-full w-full p-3 flex flex-col justify-center items-center gap-2"
                >
                    @for (item of formAuth$; track $index ) {
                    <mat-form-field [appearance]="item.appearance">
                        <mat-label>{{ item.label }}</mat-label>
                        <input
                            matInput
                            [mask]="item.mask == null ? '' : item.mask"
                            [type]="
                                item.type === 'password' && visibility
                                    ? 'text'
                                    : item.type || ''
                            "
                            [formControlName]="item.formControlName"
                            [placeholder]="item.placeholder"
                            [required]="item.required"
                        />
                        @if (item.icon) {
                        <mat-icon
                            matSuffix
                            (click)="visibility = !visibility"
                            >{{
                                visibility ? "visibility" : "visibility_off"
                            }}</mat-icon
                        >
                        } @if (form.get(item.formControlName)?.invalid) {
                        <mat-error>{{ item.errorMessage }}</mat-error>
                        }
                    </mat-form-field>
                    }
                    <a href="{{ url }}forget-password">Esqueceu a senha?</a>
                </div>
                <div
                    class="w-full h-32 flex flex-col gap-6 justify-center items-center"
                >
                    <button
                        class="primary"
                        [disabled]="form.invalid"
                        mat-fab
                        extended
                    >
                        Login
                    </button>
                    <button
                        (click)="redirectToSign()"
                        class="secondary"
                        mat-fab
                        extended
                    >
                        Cadastra-se
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
