<div class="image">
    <img src="./../../../assets/img/sus.png" />
    <h1>Um sistema simplificado</h1>
</div>
<form [formGroup]="form">
    <div class="form">
        <div class="container-form">
            <div class="container-form-title">Esqueci Senha</div>
            <div class="container-form-input">
                @for (item of $formForget; track $index ) {
                <mat-form-field [appearance]="item.appearance">
                    <mat-label>{{ item.label }}</mat-label>
                    <input
                        matInput
                        [mask]="item.mask"
                        [formControlName]="item.formControlName"
                        [placeholder]="item.placeholder"
                        [required]="item.required"
                    />
                    @if (form.get(item.formControlName)?.invalid) {
                    <mat-error>{{ item.errorMessage }}</mat-error>
                    }
                </mat-form-field>
                }
                <div class="actions">
                    <button
                        class="forget"
                        [disabled]="form.invalid"
                        mat-fab
                        extended
                        (click)="forgetPassword()"
                    >
                        Recuperar
                    </button>
                    <button class="back" mat-fab extended (click)="redirectToLogin()">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</form>
