<div class="image">
    <img src="./../../../assets/img/sus.png" />
    <h1>Um sistema simplificado</h1>
</div>

<div class="container">
    <div class="sub-container">
        <span class="title">Esqueci Senha</span>
        <form [formGroup]="form" class="form-container">
            @for (item of formForget$; track $index ) {
            <mat-form-field [appearance]="item.appearance">
                <mat-label>{{ item.label }}</mat-label>
                <input
                    matInput
                    [mask]="item.mask == null ? '' : item.mask"
                    [formControlName]="item.formControlName"
                    [placeholder]="item.placeholder"
                    [required]="item.required"
                />
                @if (form.get(item.formControlName)?.invalid) {
                <mat-error>{{ item.errorMessage }}</mat-error>
                }
            </mat-form-field>
            }
        </form>
        <div class="actions">
            <button class="primary" [disabled]="form.invalid" mat-fab extended>Solicitar</button>
            <button (click)="redirectToLogin()" class="secondary" mat-fab extended>Voltar</button>
        </div>
    </div>
</div>
