<div class="flex flex-col h-full rounded-3xl w-full bg-white/80 p-[1rem]">
  <div>
    <i
      class="ph-arrow-left mt-[1rem] cursor-pointer text-[1.75rem] sm:text-[2.25rem] text-primary"
      [routerLink]="['..']"
    ></i>
  </div>
  <div class="flex w-full justify-center">
    <h1 class="text-primary text-[1.75rem] sm:text-[2rem]">Novo Paciente</h1>
  </div>
  <div class="flex flex-col h-[85%] mt-[5rem] gap-[5rem]">
    <form
      [formGroup]="forms"
      class="grid grid-cols-2 overflow-auto gap-[2.25rem] md:gap-[1rem]"
    >
      <div class="grid col-span-2 md:col-span-1 gap-[2.25rem]">
        <div *ngFor="let input of formsLeftSide">
          <app-inputs
            [case]="input.case"
            [formControlName]="input.formControlName"
            [form]="forms"
            [placeholder]="input.placeholder"
          />
        </div>
      </div>
      <div class="grid col-span-2 md:col-span-1 gap-[2.25rem]">
        <div *ngFor="let input of formsRightSide">
          <app-inputs
            [case]="input.case"
            [formControlName]="input.formControlName"
            [form]="forms"
            [placeholder]="input.placeholder"
          />
        </div>
      </div>
    </form>
    <div class="flex w-full justify-center">
      <div class="w-full md:w-6/12">
        <app-buttons
          case="primary"
          [rounded]="true"
          label="Cadastrar"
          type="submit"
          [disabled]="forms.invalid"
          (click)="register()"
        />
      </div>
    </div>
  </div>
</div>
