@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;

    * {
        box-sizing: border-box;
        font-family: "Dosis", sans-serif;
    }
}

.mdc-notched-outline__notch {
    border-right-style: hidden;
}

.custom {
    border: 1px solid #2754a7 !important;
    border-radius: 50px !important;
    width: 8rem;
}

.confirm-button {
    color: #fff;
    background-color: #2754a7 !important;

    &:hover {
        background: #2754a7 !important;
    }
}

.cancel-button {
    color: #2754a7 !important;
    background-color: #fff !important;

    &:hover {
        background: none !important;
    }
}

.title {
    color: #2754a7 !important;
    font-size: 2rem !important;
}

.html {
    font-size: 1.5rem !important;
}
