<div class="flex flex-col min-h-full rounded-3xl w-full bg-white/80 p-[1rem] gap-[3rem]">
  <div class="flex w-full justify-center">
    <h1 class="text-primary text-[1.75rem] sm:text-[2rem]">Pacientes</h1>
  </div>
  <div class="flex flex-col gap-[5rem]">
    <div class="flex justify-center">
      <div class="flex flex-col gap-[1rem] md:flex-row w-full items-center justify-evenly">
        <app-input-text class="w-full md:w-8/12 xl:w-8/12" id="filter" label="Filtrar" [formControl]="filter" />
        <app-buttons
          class="w-full md:w-4/12 xl:w-2/12"
          *ngIf="isAdmin || isDoctor"
          [primary]="true"
          label="Novo Paciente"
          type="button"
          [rounded]="true"
          [routerLink]="['new']"
        />
      </div>
    </div>
    <div class="custom-table" *ngIf="pacients() as pacients">
      <p-table
        [value]="pacients.content"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        (onLazyLoad)="lazyLoad($event)"
        currentPageReportTemplate="Mostrando {first} de {last} no total {totalRecords} pacientes"
        [rowsPerPageOptions]="[5, 15, 50]"
        [tableStyle]="{ 'min-width': '50rem', width: '100%' }"
        [totalRecords]="pacients.totalElements"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" *ngIf="isAdmin"></th>
            <th [ngStyle]="isAdmin ? { width: '30%' } : { width: '25%' }">Nome</th>
            <th style="width: 20%">Nº SUS</th>
            <th style="width: 25%">Email</th>
            <th style="width: 20%">Telefone</th>
            <th style="width: 5%">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pacients>
          <tr>
            <td *ngIf="isAdmin">
              <i
                class="flex icon ph-bold ph-list text-primary_three cursor-pointer"
                (click)="pacientId = pacients.id; toggle(menu, $event)"
              ></i>
              <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>
            </td>
            <td>{{ pacients.firstName + " " + pacients.lastName }}</td>
            <td>{{ pacients.susNumber }}</td>
            <td>{{ pacients.email }}</td>
            <td>{{ pacients.telephone | telephone }}</td>
            <td>
              <i
                class="flex icon"
                [pTooltip]="pacients.blockAt ? 'Paciente bloqueado' : 'Paciente liberado'"
                [ngClass]="pacients.blockAt != null ? 'ph-x-circle text-error' : 'ph-check-circle text-success'"
              ></i>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5"><div class="flex w-full justify-center">Nenhum paciente cadastrado.</div></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
